

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<body>
<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
    <th>Questions</th>
    <th>difficulty Level</th>
    <th>hint</th>
		<!-- <th>Age</th>
		<th>Email</th>
		<th>Action</th> -->
	</tr>

	<% if (data) { %>
	<% data.forEach(function(question){ %>
		<tr>
      <td><%= question.questionStatement %></td>
			<td><%= question.difficultyLevel %></td>
			<td>
				<div style="float:left">
				 <a href='/users/hint/<%= question.questionID %>'>View hint</a> &nbsp;
					<!-- <form method="post" action="/users/delete/<%= question.difficultyLevelID %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" /> -->
						<!-- <input type="hidden" name="_method" value="DELETE" />
					</form> -->
				</div>
			</td>
		</tr>




</table>

<form action="/users/checkanswer/<%= question.questionID %>" method="post" name="answercheck">
    <label>Answer: </label>
    <input type = "text" id = "answer" value = "" name="answer"/>
    <br>
    <button type="submit" class="btn btn-primary">submit</button>
</form>

<% }) %>
<% } %>
</body>
