
<<<<<<< HEAD

=======
<% include headmain.ejs %>
>>>>>>> master
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<<<<<<< HEAD

<table width='80%' border=0>
=======
<head>
<style>
        body {
            overflow-y: hidden ! important;
            overflow-x: hidden ! important;
            background-color: #f8f8f8;
            background-image: url('background.jpeg');
            
            background-size: 100% 100%;
        }
        </style>
</head>
<body background = 'background.jpeg'>
<table class = 'table table-striped'>
>>>>>>> master

	<tr style='text-align:left; background-color:#CCC'>
    <th>Question No.</th>
		<th>Status</th>
<<<<<<< HEAD
=======
		<th></th>
>>>>>>> master

	</tr>

	<% if (data) { %>
	<% data.forEach(function(question){ %>
		<tr>
      <td><%= question.questionID %></td>
			<% if (question.status){
				%>
				<td><%= "Solved" %></td>
			<%} else {%>
				<td><%= "Not Solved" %></td>
				<%}

			%>


			<td>
				<div style="float:left">
<<<<<<< HEAD
					<a href='/questions/problemStatement/<%= question.questionID %>'>View</a> &nbsp;
=======
					<a href='/questions/problemStatement/<%= question.questionID %>'>Solve Question</a> &nbsp;
>>>>>>> master

				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>
<<<<<<< HEAD
=======
</body>
>>>>>>> master
