<% include headmain.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (user) { %>
                <h1 class="text-center"> <%= user.firstName %> <%= user.lastName %>  </h1>
                <p class="text-center"> <br> <%= user.email %> </p>
                <p class="text-center"> <br> Points Gained : <%= user.points %></p>
                <p class="text-center"> User_Name : <%= user.username %></p>
                <div class="page-wrapper">
                <span class="navbar-brand mb-0 h1" > <a class="float-right" href="/questions" title="View Questions">View Questions</a></span>
                <span class="navbar-brand mb-0 h1" > <a class="float-right" href="/leaderboard" title="View Leader Board">View Leader Board</a></span>
                <span class="navbar-brand mb-0 h1" > <a class="float-right" href="/questions/progress" title="View Progress">View Progress</a></span>

                </div>
             <a class="float-right" href="/back" title="Refresh">Refresh</a>

    <% } else { %>
        <p class="text-center">user Not Found.</p>
    <% } %>
</div>
</div>
</body>
</html>
